<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opsflow.dao.mapper.UserRoleMapper">
    
    <delete id="deleteByUserId">
        DELETE FROM user_role WHERE user_id = #{userId}
    </delete>
    
    <delete id="deleteByRoleId">
        DELETE FROM user_role WHERE role_id = #{roleId}
    </delete>
    
    <select id="selectRoleIdsByUserId" resultType="java.lang.Long">
        SELECT role_id FROM user_role WHERE user_id = #{userId}
    </select>
    
</mapper>


