<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opsflow.dao.mapper.RolePermissionMapper">
    
    <delete id="deleteByRoleId">
        DELETE FROM role_permission WHERE role_id = #{roleId}
    </delete>
    
    <delete id="deleteByPermissionId">
        DELETE FROM role_permission WHERE permission_id = #{permissionId}
    </delete>
    
    <select id="selectPermissionIdsByRoleId" resultType="java.lang.Long">
        SELECT permission_id FROM role_permission WHERE role_id = #{roleId}
    </select>
    
</mapper>


